
<html lang="en">
<body>
<div>Data base Logins</div>
{{#logins}}
    <div>
        <b>{{AppAccountname}}</b>
        <b>{{Application}}</b>
        <b>{{IsActive}}</b>
        <b>{{JobTitle}}</b>
        <b>{{Department}}</b>


    </div>
{{/logins}}

</body>
</html>